body {
  background-color: rgb(238, 222, 161);
}
h1,
p {
  text-align: center;
}
h1 {
  display: block;
  margin: 22px 0;
  font-weight: bolder;
}
.img-fluid {
  max-width: 90%;

  padding: 20px;
  border-radius: 10px;
}
.links {
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 10px 10px;
}
